/* Reset CSS for all elements */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: 'Source Sans 3', sans-serif; /* Apply the custom font to all elements */
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.NavBar {
    width: 100%;
    height: 55px;
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #02051c; */
    /* background-color: #0733a3; */
    background-color: rgb(0, 149, 255);
    /* color: white; */
    /* color: #02051c; */
    color: white;
}

.ls {
    display: flex;
    font-size: 3rem;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15rem; /* Adjusted for responsiveness */
}

.logo {
    margin-left: 10rem; /* Adjusted for responsiveness */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 3rem; */
}

.logo span{
    margin-left: 1.2rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
}

.Login {
    color: black;
    margin-left: 4rem; /* Adjusted for responsiveness */
            /* top right bottom left*/
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
    font-weight: 600;
}

.SignUp{
    color: black;
    margin-left: 4rem; /* Adjusted for responsiveness */
            /* top right bottom left*/
    /* padding: 1rem 0rem 0.5rem 0rem; */
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 2rem;
   
}
.SignUp a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 1.8rem;
    margin: 0.5rem 0rem 1rem 1rem;
}


.About{
    position: relative;
    transition: all 0.5s;
    width: 20rem;
    font-size: 1.5vw;
    text-align: center;
    margin-left: 5rem;
    font-weight: 600;
}





img {
    height: 3rem;
    width: 3rem;
}

.SignUp {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#arrow {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.logo span{
     font-size: 1.5rem;
     /* font-weight: 900; */
}

.ham{
    display: none;
    position: relative;
}

.ham #bars{
      position: absolute;
      top: -0.9rem;
      font-size: 1.5rem;
}

.ham #cross{
    position: absolute;
    font-size: 2rem;
    top: -0.9rem;
    left: -0.2rem;
}

@media (max-width : 600px) {

   .NavBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 2vw;
   }

   .ls {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5.5rem;
    right: -15rem;
    height: 30rem;
    width: 100%;

    background-color: #1f233d;
}

  .Login{
    width: 10rem;
    margin-bottom: 2rem;
  
  }

  .logo{
    margin-left: -10px;
  }

  .About{
    margin: 0px;
    font-size: 3vw;
  }



  .ham{
    display: block;
    margin-right: 2rem;
  }

  #cross{
    display: none;
  }
}




